{% extends 'base.html' %}
{% block bar %}
    <div class="col-md-3 ">
        <div class="visible-md visible-lg">
            <div class="panel panel-zan random">
                <div class="panel-heading bar-heading">
                    最新文章
                </div>
                <ul class="bar-list list-unstyled">
                    {% for bar in bar_list %}
                    <li><a href="/article/{{ bar.id }}">{{ bar.title }}</a></li>
                    {% empty %}
                    <li><a>暂无文章</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock bar %}
{% block main %}

    <!--article-->
{%  for article in article_list %}
    <div class="col-md-9 article-type">
        <div class="content-wrap index">
            <h1 class="title article-head">
                <a href="/article/{{ article.id }}">
                    {{ article.title }}
                </a>
            </h1>
            <div class="post-info">
                    <span class="date">{{ article.last_modified_time }}</span>
                    <a href="/" class="comments article-comment-link">ngc7293</a>
            </div>
        </div>
            <div class="content">
                <article>{{ article.abstract }}</article>
            </div>
        <div class="article-bottom">
            <div class="article-tag">
                <span class="mark glyphicon glyphicon-tag"></span>
                <ul class="article-tag-list">
                    <li class="label label-info"><a href="/tags/{{ article.catagory.id }}">{{ article.catagory }}</a></li>
                </ul>

            </div>
            <p><a href="/article/{{ article.id }}">READ ME>></a></p>
        </div>
    </div>
{%  empty %}
        <div class="col-md-9 article-type">
        <div class="content-wrap index">
            <h1 class="title article-head">
                致歉
            </h1>
            <div class="post-info">
                    <span class="date">2017-07-20</span>
                    <a href="" class="comments article-comment-link">Kommentare</a>
            </div>
        </div>
            <div class="content">
                <p>暂时没有文章发表</p>
            </div>
    </div>
    </div>
{% endfor %}
{% endblock main %}
{% block footer %}
    {% for footer in footer_list %}
    <li><a class="footer-post" href="/tag/{{ footer.id }}">{{ footer.names }}</a></li>
    {% empty %}
    <li><a class="footer-post" href="">暂无分类</a></li>
    {% endfor %}
{% endblock footer%}